<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="stylesheet.css">
    <style>
        body{
            background-color: cadetblue;
        }
        p{
            color: crimson;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: large;
        }
    </style>
</head>
<body>
    <form action = "http://localhost:5000/home" method = "post">
        <p> <b>Welcome to Akshit's Final Project</b></p>
        <p>
                Please click the following button to order your products!
        </p>
      
        <input type="button" onclick="location.href='dataentry.htm';" value="Click Here!"/>
    </form>
</body>
</html>