<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body{
            background-color: cadetblue;
        }
        p{
            color: crimson;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: large;
        }
    </style>
</head>
<body>
    <form action = "http://localhost:5000/Welcome method = "post">
        
        <p><i>Thank you for registering with us!</i></p>

        
    </form>


    
</body>
</html>